
body{
    margin-left: 15%;
}
h1{

    margin-left: 20%;
}
h2{
    margin-left: 12%;
}

b{
    color: red;
}
d{
    color: blue;
}

table, td, tr{

  margin-left: 10%;
  border: 1px solid black;

}
#bold{
    background-color: aqua;
}