
#myname {
    background-color: black;
    position: fixed;
    top: 0%;
    text-align: center;
    width: 100%;
    animation: mymove infinite;
    animation-duration: 3s;
}
 /*@keyframes  mymove {
    from {left: 0px;}
    to {right: 50px;}
    
 }*/
.graduation {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
.fw-bolder {
    color: white;
    background-color: black;
    
    

}
.footer_icons {
    background-color: whitesmoke;
}

#learn_text {
    color: red;
}
#facts {
  padding-top: 5%;
}

.footer_icons {
    text-align: center;
    position: fixed;
    bottom: 0%;
    width: 100%;
    height: 20px;
}

.fa-address-card {
    font-family: 'Times New Roman', Times, serif;
}
#facts {
    background-color: black;
    color: white;
    text-align: left;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    bottom: 10%;
  
}

#video{
    background-color: black; 
    color: whitesmoke;
    bottom:0%;
    padding: 0%;
    text-align: left;
    font-size: 20px;
    text-align: center;
}
#videoAndfacts{
    position: absolute;
    width: 100%;
    bottom: 1%;
    height: 5%;
    animation: vandf infinite;
    animation-duration: 3s;
}
@keyframes vandf {
    from{bottom: 0px;}
    to{bottom: 50px}
}
#next {
    background-color: red;
}
