

@media only screen and (max-width: 600px) {


    #mainMenu {
        position: fixed;
        top:5%;
        text-align: center;
        width: 100%;
        font-weight: bolder; 
        padding-right: 70%;
    }

    #video, #facts {
        background-color: black;
    }
    .bugImage, .youtubeVideo {
        width: 300px;
        height: 450px;
    }

    .name {
        font-size: 50px;
        background-color: black;
        margin: 0;
        position: absolute;
        top: 70%;
        left:50%;
        transform: translate(-50%, -50%);
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bolder;
        color: white;
        width: 100%;
        padding-top:90%;
        padding-left: 20%;
        padding-bottom:95%;
        background-image: url('../images/Chicago\ pic.JPG');
        opacity: 1;
        z-index: -1;
    }

}

@media only screen and (min-width: 576px){

    #mainMenu {
        position: fixed;
        top:0%;
        text-align: center;
        width: 100%;
        padding-top: 5%;
        padding-left: 20%;
        padding-right: 20%;
        font-weight: bolder;
    }

    .name {
        font-size: 3em;
        margin: 0;
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%, -50%);
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bolder;
        color: white;
        width: 100%;
        padding-top:90%;
        padding-left: 30%;
        padding-bottom:95%;
        background-color: black;
        opacity: .7;
        z-index: -1;
    }

    #facts {
        background-color: black;
    }
    #video {
        background-color: black;
        padding: 20%;
        
    }

    .bugImage, .youtubeVideo {
        width: 500px;
        height: 600px;
    }
}
@media only screen and (min-width: 768px) {

    #mainMenu {
        position: fixed;
        top:0%;
        text-align: center;
        width: 100%;
        padding-top: 5%;
        padding-left: 20%;
        padding-right: 20%;
        font-weight: bolder;
    }

    .bugImage, .youtubeVideo {
        width: 500px;
        height: 600px;
    }

    .name {
        font-size: 5em;
        margin: 0;
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%, -50%);
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bolder;
        color: white;
        width: 100%;
        padding-top:90%;
        padding-left: 27%;
        padding-bottom:95%;
        background-color: black;
        opacity: .7;
        z-index: -1;
    }
}
@media only screen and (min-width: 992px) {

}
@media only screen and (min-width: 1200px) {

}
/*#mainMenu {
    position: fixed;
    top:0%;
    text-align: center;
    width: 100%;
    animation: mymove infinite;
    animation-duration: 3s;
    padding-top: 5%;
    padding-left: 30%;
    padding-right: 30%;
    opacity: .7;
    font-weight: bolder;

}*/
 /*@keyframes  mymove {
    from {left: 0px;}
    to {right: 50px;}
    
 }*/
 .dropdown {
    display: inline-block;
    position: relative;
    transition: transform all .2s ease-in-out;
    
 }
 .dropdown-menu {
    display: none;
    position: absolute;
    width: 200px;
    
 }

 .dropdown:hover .dropdown-menu {
    display:block;
    background-color: black;
    color: white;
    transform: scale(1);  
 }
 .dropdown-menu a{
 text-decoration: none;
 margin-left: 10%;
 color: white;
}
.graduation {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
/*.name {
    margin: 0;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    color: white;
    width: 100%;
    padding-top:90%;
    padding-left: 40%;
    padding-right: 40%;
    padding-bottom:95%;
    background-color: black;
    opacity: .7;
    z-index: -1;
} */

.fw-bolder {
    color: white;
    background-color: black;
}
.footer_icons {
    background-color: whitesmoke;
}

#learn_text {
    color: red;
}
#facts {
  padding-top: 5%;
}

.footer_icons {
    text-align: center;
    position: fixed;
    bottom:0%;
    width: 100%;
    height: 80px;
    padding-top: 1%;
    padding-bottom: 2%;
    background-color: black;
}

.fa-address-card {
    font-family: 'Times New Roman', Times, serif;
}
.facts {
    text-align: left;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 5%;
    text-align: center;
    background-color: azure;
    color: black;
}
.video{
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    background-color: azure;
    width: 100%;
    color: black;

}
#videoAndfacts{
    color: white;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
}
