body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*background-image: url(./pexels-filippo-bergamaschi-2767739.jpg); */
}

a {
  color: #00B7FF;
}

b{
  color: red;
}
d{
  color: blue;
}
#tutorial{
  margin-left: 22%;
}
