
body {
    padding: 5%;
    background-color: black;
}
.resume_body {
    background-color: whitesmoke;
}
#name {
  text-align: center;
  padding-top: 5%;
}
#contact {
    padding-left: 30%;
   
}
#resume_details {
    padding-left: 15%;
    font-size: 1.5em;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
}
#dates {
    padding-left: 5%;
    color: blue;
    
}
#lang {
    font-weight: normal;
}