

body{

 
 margin-left: 15%;


}

h1{

    margin-left: 20%;

}

h2{

    margin-left: 18 ;
}

d{

    color: blue;
}

b{

 color: red;
}

table, th, td{
    margin-left: 50;
    border: 1px solid black;
    background-color: whitesmoke;
}